{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password useFormLoader' } }) }}
{#    {{ form_widget(form) }}#}

    {% if (form_errors(form.current_password)|length > 0 or form_errors(form.plainPassword.first)|length > 0 or form_errors(form.plainPassword.second)|length > 0) %}
        <div class="alert alert-danger x14" role="alert">
            <a class="close pointer">×</a>
            <div class="form-error red">
                {{ form_errors(form.current_password) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
    <div class="text-right mt-3">
        <a href="{{ path('account') }}" title="Volver a Mi Cuenta"><button type="button" class="btn btn-outline-primary mr-sm-4 mb-1 mb-sm-0 btn-loader">Volver a Mi Cuenta</button></a>
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
