{% extends 'global/base_global.twig' %}
{% block page_title %}Modificar mi contraseña{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <div class="col-12 mb-3">
                        <h3>Modificar mi contraseña</h3>
                    </div>
                    <div class="col-12 ml-2">
                        {% block fos_user_content %}
                            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center vmid">
                    <h3 class="mt-5 mb-3">¡Crea tus propias recetas!</h3>
                    <a href="{{ path('tupper_create') }}" title="Crear nuevo tupper">
                        <button type="button" class="btn btn-outline-primary btn-loader"><i class="material-icons mr-3">add_circle_outline</i>Crear nuevo tupper</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}