{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="useFormLoader">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    {% if error %}
        <div class="alert alert-danger x14" role="alert">
            <a class="close pointer">×</a>
            <div class="form-error red">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Escribe tu email" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Escribe tu contraseña">
    </div>

    <div class="text-right mb-3">
        <a href="{{ path('fos_user_resetting_request') }}" title="Recuperar contraseña" class="btn-remember-password btn-loader">¿Has olvidado tu contraseña?</a>
    </div>
    <div class="text-right">
        <button type="submit"id="_submit" name="_submit" value="Entrar" class="btn btn-primary">Entrar</button>
    </div>
</form>