{% extends 'global/base_global.twig' %}
{% block page_title %}Mi cuenta{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
<main>

    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <h3>Mi cuenta</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h4 class="display-4">¡Hola {{ user.name }}!</h4>
                    <p class="lead">Desde aquí podrás modificar tus datos personales y consultar tus últimos tuppers creados, así como visualizar los que han recibido más visitas o han sido mejor valorados.</p>
                    <hr class="my-4">
                    <p>Además, podrás modificar cualquier receta cuando quieras o incluso eliminarla.</p>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <div class="col-12 ml-4 box-mis-datos">
                    <div class="row mb-2">
                        <h5>Mis datos</h5>
                    </div>
                    <div class="row pl-2 mb-2">
                        <div class="col-3 green bold">Nombre</div>
                        <div class="col-9">{{ user.name }}</div>
                    </div>
                    <div class="row pl-2 mb-2">
                        <div class="col-3 green bold">Apellido</div>
                        <div class="col-9">{{ user.surname }}</div>
                    </div>
                    <div class="row pl-2 mb-4">
                        <div class="col-3 green bold">Email</div>
                        <div class="col-9">{{ user.email }}</div>
                    </div>
                    <div class="text-right">
                        <a href="{{ path('fos_user_change_password') }}" title="Cambiar contraseña"><button type="button" class="btn btn-outline-primary mr-sm-4 mb-sm-0 btn-loader">Cambiar contraseña</button></a>
                        <a href="{{ path('fos_user_profile_edit') }}" title="Editar perfil"><button type="button" class="btn btn-primary btn-edit-account btn-loader">Editar perfil</button></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center vmid">
                <h3 class="mt-5 mb-3">¡Crea tus propias recetas!</h3>
                <a href="{{ path('tupper_create') }}" title="Crear nuevo tupper">
                    <button type="button" class="btn btn-outline-primary btn-loader"><i class="material-icons mr-3">add_circle_outline</i>Crear nuevo tupper</button>
                </a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 mb-3">
                <h3>Estos son los últimos tuppers que has creado</h3>
            </div>
            <div class="col-12 mb-3">
                {% if(last_tuppers|length > 0) %}
                    <table class="table table-striped">
                        <tbody>
                        {% for tupper in last_tuppers %}
                            <tr>
                                <td>
                                    <a href="{{ tupper.getUrl }}" title="{{ tupper.slug }}">
                                        {{ tupper.title }}
                                    </a>
                                </td>
                                <td class="text-right" width="10%">
                                    <a href="{{ path('tupper_edit', {tupperid:tupper.id}) }}" title="Editar" class="green text-decoration-none x14">
                                        <i class="material-icons">edit</i> Editar
                                    </a>
                                </td>
                                <td class="text-right" width="10%">
                                    <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-tupper" data-tupperid="{{ tupper.id }}">
                                        <i class="material-icons">delete_forever</i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-12 text-center mt-4">
                        <a href="{{ path('account_mytuppers') }}" title="Ver todos mis tuppers"><button type="button" class="btn btn-outline-primary">Ver todos mis tuppers</button></a>
                    </div>
                {% else %}
                    <div class="font-italic green">
                        <p>Todabía no has creado ningún tupper.</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Tuppres mejor valorados -->
        {{ include('modules/main_modules/list_recipex4.twig', {
            title : 'Estos son tus tuppers mejor valorados',
            btn_label: 'Ver más',
            btn_url: path('account_mytuppers_rated'),
            tuppers: rated_tuppers,
        }) }}

        <!-- Tuppres mas visitados -->
        {{ include('modules/main_modules/list_recipex4.twig', {
            title : 'Estos son tus tuppers más visitados',
            btn_label: 'Ver más',
            btn_url: path('account_mytuppers_visited'),
            tuppers: visited_tuppers,
        }) }}



    </div>
</main>
    {{ include('modules/modals/modal-confirm-delete.twig') }}
{% endblock %}
{% block page_scripts %}

{% endblock %}