{% if withParams is not defined %}
    {% set withParams = [] %}
    {% set currentPath = app.request.attributes.get('_route') %}
{% endif %}

{% extends 'global/base_global.twig' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 col-sm-6 mb-3">
                    <h3>{{ page_title }}</h3>
                </div>
                <div class="col-12 col-sm-6 mb-3 text-left text-sm-right">
                    <a href="{{ path('tupper_create') }}" title="Crear nuevo tupper">
                        <button type="button" class="btn btn-outline-primary btn-loader"><i class="material-icons mr-3">add_circle_outline</i>Crear nuevo tupper</button>
                    </a>
                </div>
            </div>

            {{ include('modules/main_modules/filters.twig', {'filter_vars': filter_vars, 'page_type': page_type}) }}

            <div class="row">
                <div class="col-12">
                    {% if tuppers|length > 0 %}
                    <div class="card-deck mb-3">
                        {% for tupper in tuppers %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pd0">
                                {{ include('modules/main_modules/recipe_box.twig', {
                                    'tupper': tupper,
                                    'editable' : true,
                                }) }}
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="font-italic green mt-3 mb-5">
                            <p>Todabía no has creado ningún tupper.</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if maxPages > 1 %}
                {{ include('modules/main_modules/paginator.twig', {
                    'thisPage': thisPage,
                    'maxPages': maxPages,
                    'currentPath': currentPath,
                    'withParams': withParams
                }) }}
            {% endif %}
        </div>
    </main>
    {{ include('modules/modals/modal-confirm-delete.twig') }}
{% endblock %}
{% block page_scripts %}

{% endblock %}