/*override bootstrap buttons styles*/
.btn-primary {
  color: #fff;
  background-color: #2d9f57;
  border-color: #2d9f57;
  &:hover,
  &:active,
  &:visited{
    background-color: #92bd50!important;
    border-color: #92bd50!important;
  }
  &.focus,
  &:focus{
    box-shadow: 0 0 0 0.2rem rgba(146, 189, 80, 0.31)!important;
  }
}
.btn-outline-primary {
  color: #92bd50;
  border-color: #92bd50;
  &:hover,
  &:active,
  &:visited{
    color: #fff;
    background-color: #92bd50!important;
    border-color: #92bd50!important;
  }
  &.focus,
  &:focus{
    box-shadow: 0 0 0 0.2rem rgba(146, 189, 80, 0.31)!important;
  }
}
.btn-outline-primary-red {
  color: #9f1b1a;
  border-color: #9f1b1a;
  &:hover,
  &:active,
  &:visited{
    color: #fff;
    background-color: #9f1b1a!important;
    border-color: #9f1b1a!important;
  }
  &.focus,
  &:focus{
    box-shadow: 0 0 0 0.2rem rgba(189, 58, 42, 0.31) !important;
  }
}
.btn-category {
  background-color: #92bd50!important;
  line-height: 1.0!important;
  &:hover,
  &:active,
  &:visited{
    background-color: #2d9f57!important;
  }
}
.show>.btn-primary.dropdown-toggle{
  color: #fff;
  background-color: #92bd50;
  border-color: #92bd50;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #92bd50;
}
/* END override bootstrap buttons styles*/

/** BEGIN Admin pills nav */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
  background-color: #2d9f57;
  color: #fff;
}

.nav-pills .nav-item .nav-link{
  color: #2d9f57;
  &:hover{
    color: #92bd50;
  }
}

.nav-pills .nav-item .nav-link.active{
  &:hover{
    color: #fff;
  }
}

.nav-pills .nav-link.active{
  color: #fff;
  &:hover{
    background-color: #92bd50;
  }
}
/** END Admin pills nav */