/* sm */
@media (max-width: 768px) {
  .filter-search{
    input{
      width: 90%;
    }
  }
  .filters{
    label{
      margin-bottom: 10px;
    }
    select{
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
}
.form-control{
  &:focus{
    box-shadow: 0 0 0 0.2rem rgba(146, 189, 80, 0.31)!important;
  }
}

.badge.tag{
  font-weight: 300;
  font-size: 14px;
}

.error{
  box-shadow: 0 0 0 .2rem rgba(236, 12, 12, 0.31)!important;
}

.form-error{
  ul{
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0;
  }
}