.material-icons{
  vertical-align: middle;
  position: relative;
  top: -1px;
  &:hover{
    font-weight: bold;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.share{
  .fa {
    padding: 7px;
    font-size: 20px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    /* Add a hover effect if you want */
    &.fa:hover {
      color: white;
      opacity: 0.7;
      text-decoration: none;
    }
    /* Facebook */
    &.fa-facebook {
      background: #3B5998;
      color: white;
    }

    /* Twitter */
    &.fa-twitter {
      background: #55ACEE;
      color: white;
    }

    /* Twitter */
    &.fa-whatsapp {
      background: #00e676;
      color: white;
    }
  }
}

/* rating */
.fa-star{
  font-size: 20px;
  width: 20px;
  color: #92bd50;
  &:hover{
    color: #92bd50;
    opacity: 1;
  }
  &.checked {
    color: #2d9f57;
  }
}
.trigger_rate{
  .fa-star{
    cursor: pointer;
  }
}
/*end rating*/

/*views*/
.fa-eye{
  font-size: 20px;
  color: black;
  padding: 10px 5px;
  width: 20%;
  &:hover {
    color: black;
    opacity: 1;
  }
}
/*end views*/