$max_font_size: 50;

/*-- FONT SIZE GENERATOR --*/
$a: 1; // == i++

@for $i from 9 through 24 {.x#{$i} {font-size: $i + px;}}
@for $i from 24 through $max_font_size {
  $a : $a + 1;
  @if ($i + $a <= $max_font_size){
    .x#{$i + $a} {font-size: $i + $a + px;}
  }
}
