
/*-- MOUSE CURSOR --*/
.pointer{cursor: pointer;}
.bold{font-weight: bold;}
.light{font-weight: 300;}
.pd0{padding: 0px!important;}
.rad_50{border-radius: 50px;}

/* colors */
.green{
  color: #2d9f57;
  &:hover{
    color: #2d9f57;
  }
}
.red{
  color: #9f1b1a;
  &:hover{
    color: #9f1b1a;
  }
}
.black{
  color: #000 !important;
  &:hover{
    color: #000;
  }
}

.vmid{
  margin-top: auto;
  margin-bottom: auto;
}

.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.dtable {
  display: table;
}
.dtablecell {
  display: table-cell;
}
.v-mid{
  vertical-align: middle;
}