{% extends 'global/base_global.twig' %}
{% block page_title %}Home{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
<main>
    <!-- Slider -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for tupper in last_tuppers %}
                <div class="carousel-item {% if (loop.first) %}active{% endif %}">
                    <a href="{{ tupper.getUrl }}" title="{{ tupper.slug }}">
                        {#<img class="d-block w-100 " src="https://dummyimage.com/1500x450/b5afb5/fff.png" alt="First slide">#}
                        {% if tupper.image matches '/^http*/' %}
                            <img class="d-block w-100 " src="{{ tupper.image }}" alt="{{ tupper.title }}">
                        {% else %}
                            <img class="d-block w-100 " src="{{ asset('uploads/tuppers/' ~ tupper.image) }}" alt="{{ tupper.title }}">
                        {% endif %}
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ tupper.title }}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <!-- /// Slider -->

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h1 class="mt-5">¿No sabes qué hacer con lo que tienes en la nevera?</h1>
                <p class="lead">¡Prueba la búsqueda por ingredientes!</p>
                <a href="{{ path('ingredient_search') }}" title="Búsqueda por ingrediente"><button type="button" class="btn btn-primary">Probar ahora</button></a>
            </div>
        </div>

        <!-- Tuppres mejor valorados -->
        {{ include('modules/main_modules/list_recipex4.twig', {
            title : 'Los tuppers mejor valorados',
            btn_label: 'Ver más',
            btn_url: path('tuppers_rated_list'),
            tuppers: rated_tuppers
        }) }}

        <!-- Tuppres mas visitados -->
        {{ include('modules/main_modules/list_recipex4.twig', {
            title : 'Los tuppers más visitados',
            btn_label: 'Ver más',
            btn_url: path('tuppers_visited_list'),
            tuppers: visited_tuppers
        }) }}

    </div>
</main>
{% endblock %}
{% block page_scripts %}

{% endblock %}