{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit useFormLoader' } }) }}

    {% if (form_errors(form)|length > 0) %}
        <div class="alert alert-danger x14" role="alert">
            <a class="close pointer">×</a>
            <div class="form-error red">
                {#    {{ form_errors(form) }}#}
                {{ form_errors(form.name) }}
                {{ form_errors(form.surname) }}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.surname) }}
        {{ form_widget(form.surname) }}
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input class="form-control" value="{{ app.user.email }}" disabled="disabled">
    </div>

    <div class="text-right mt-3">
        <a href="{{ path('account') }}" title="Volver a Mi Cuenta"><button type="button" class="btn btn-outline-primary mr-sm-4 mb-1 mb-sm-0 btn-loader">Volver a Mi Cuenta</button></a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>
{{ form_end(form) }}
