{% set homeUrl = app.request.getSchemeAndHttpHost() %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block page_title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
	<link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:500|Roboto&display=swap" rel="stylesheet">
	<!-- Google Material design icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="/css/app.css?{{ assets_version }}" type="text/css" media="all"/>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146161728-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146161728-1');
    </script>
	
	{% block page_stylesheets %}{% endblock %}
	{% block twitter_metas %}
		<meta name="twitter:card" content="summary" />
		{#    <meta name="twitter:site" content="@dailytuppers" />#}
		{#    <meta name="twitter:creator" content="@dailytuppers" />#}
	{% endblock %}
	{% block facebook_metas %}
		<meta property="og:url"                content="{{ homeUrl }}" />
		<meta property="og:type"               content="article" />
		<meta property="og:title"              content="Daily Tuppers" />
		<meta property="og:description"        content="Crea, explora y comparte recetas de tuppers" />
		<meta property="og:image"              content="{{ app.request.getSchemeAndHttpHost()~asset('img/logo_header.png') }}" />
	{% endblock %}
</head>
<body>

<!-- MAIN HEADER -->
{{ include('modules/header/main_header.twig', {
	'shareUrl' : homeUrl
}) }}

{% if is_granted('ROLE_ADMIN') %}
	{% block sub_menu %}{% endblock %}
{% endif %}

<!-- MAIN CONTENT -->
{% block page_content %}{% endblock %}

<!-- MAIN FOOTER -->
{{ include('modules/footer/main_footer.twig', {
	'shareUrl' : homeUrl,
}) }}

{{ include('modules/modals/modal-not-logged.twig') }}

<div class="preloader mtz">
	<div class="dtable w100 h100">
		<div class="dtablecell w100 h100 v-mid text-center">
			<div class="preloader-wrapper big active">
				<div class="lds-dual-ring"></div>
			</div>
		</div>
	</div>
</div>

<!-- GLOBAL SCRIPTS -->
<script src="/js/vendor.min.js?{{ assets_version }}" type="text/javascript"></script>
<!-- PAGE SCRIPTS -->
{% block page_scripts %}{% endblock %}
<script src="/js/utils.js?{{ assets_version }}" type="text/javascript"></script>
<script src="/js/app.js?{{ assets_version }}" type="text/javascript"></script>
{% if is_granted('ROLE_ADMIN') %}
	<script src="/js/admin.js?{{ assets_version }}" type="text/javascript"></script>
{% endif %}

</body>

</html>
