{% extends 'global/base_global.twig' %}
{% block page_title %}Recuperar contraseña{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <div class="col-12 mb-3">
                        <h3>Recuperar contraseña</h3>
                        <h5>¿Has olvidado tu contraseña?</h5>
                    </div>
                    <div class="col-12 ml-2 form-login">
                        {% block fos_user_content %}
                            {% include "@FOSUser/Resetting/request_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center vmid">
                    <h3 class="mt-5 mb-3">¿Aún no tienes cuenta?</h3>
                    <a href="{{ path('fos_user_registration_register') }}" title="Regístrate en Daily Tuppers"><button type="button" class="btn btn-primary btn-loader">¡Regístrate!</button></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}