{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request useFormLoader">
    <div class="form-group">
        <label for="username">Escribe tu email y te enviaremos un correo electrónico para que puedas recuperarla</label>
        <input type="email" id="username" name="username" class="form-control" required="required" placeholder="Escribe tu email" />
    </div>
    <div class="text-right">
        <a href="{{ path('fos_user_security_login') }}" title="Iniciar sesión"><button type="button" class="btn btn-outline-primary mr-sm-4 mb-1 mb-sm-0 btn-loader">Iniciar sesión</button></a>
        <button type="submit" class="btn btn-primary">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
