{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset useFormLoader' } }) }}
{#    {{ form_widget(form) }}#}

{% if (form_errors(form)|length > 0) %}
    <div class="alert alert-danger x14" role="alert">
        <a class="close pointer">×</a>
        <div class="form-error red">
            {#    {{ form_errors(form) }}#}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
    </div>
{% endif %}

<div class="form-group">
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Escribe tu nueva contraseña'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repite la contraseña'}}) }}
</div>

<div class="text-right mt-3">
    <button type="submit" class="btn btn-primary">{{ 'resetting.reset.submit'|trans }}</button>
</div>
{{ form_end(form) }}
