<div class="row mb-2">
    <div class="col-12 col-xl-12">
        <div class="form-group form-inline filter-search">
            <label for="input_search" class="mr-3">{% if text_search is defined %}{{ text_search }}{% else %}¿Buscas algo en particular?{% endif %}</label>
            <input type="text" class="form-control mr-2" id="input-search" name="input-search" placeholder="Buscar..." value="{{ filter_vars.search }}">
            <a href="javascript:void(0)" class="text-decoration-none green" id="filters_search" title="Buscar"><i class="material-icons">search</i></a>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="form-group form-inline">
            <label for="select_orderby" class="mr-3">Ordenar por</label>
            <select class="form-control mr-3" id="select_orderby" name="select_orderby">
                {% if page_type == 'user-list' %}
                    <option value="recientes" {% if filter_vars.sort == 'recientes' %}selected{% endif %} data-sort="{{ path('account_mytuppers') }}">Los más recientes</option>
                    <option value="visitados" {% if filter_vars.sort == 'visitados' %}selected{% endif %} data-sort="{{ path('account_mytuppers_visited') }}">Los más visitados</option>
                    <option value="valorados" {% if filter_vars.sort == 'valorados' %}selected{% endif %} data-sort="{{ path('account_mytuppers_rated') }}">Los mejor valorados</option>
                {% elseif page_type == 'general-list' %}
                    <option value="recientes" {% if filter_vars.sort == 'recientes' %}selected{% endif %} data-sort="{{ path('tuppers_list') }}">Los más recientes</option>
                    <option value="visitados" {% if filter_vars.sort == 'visitados' %}selected{% endif %} data-sort="{{ path('tuppers_visited_list') }}">Los más visitados</option>
                    <option value="valorados" {% if filter_vars.sort == 'valorados' %}selected{% endif %} data-sort="{{ path('tuppers_rated_list') }}">Los mejor valorados</option>
                {% else %}
                    <option value="recientes" {% if filter_vars.sort == 'recientes' %}selected{% endif %} data-sort="">Los más recientes</option>
                    <option value="visitados" {% if filter_vars.sort == 'visitados' %}selected{% endif %} data-sort="">Los más visitados</option>
                    <option value="valorados" {% if filter_vars.sort == 'valorados' %}selected{% endif %} data-sort="">Los mejor valorados</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="form-group form-inline text-right filters">
            <label for="select_filter_categoria" class="mr-3">Filtrar por</label>
            {% if page_type != 'category-list' %}
                <select class="form-control mr-3 w-25 select-filters" id="select_filter_categoria" name="select_filter_categoria">
                    <option value="">Categoría</option>
                    {% set categories = getCategories() %}
                    {% if(categories|length > 0) %}
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == filter_vars.category %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            {% endif %}

            <label for="select_filter_dificultad" class="mr-3 d-none">Filtrar por</label>
            <select class="form-control mr-3 w-25 select-filters" id="select_filter_dificultad" name="select_filter_dificultad">
                <option value="">Dificultad</option>
                {% set difficulties = getDifficulty() %}
                {% if(difficulties|length > 0) %}
                    {% for difficulty,id in difficulties %}
                        <option value="{{ id }}" {% if id == filter_vars.difficulty %}selected{% endif %}>{{ difficulty }}</option>
                    {% endfor %}
                {% endif %}
            </select>

            <label for="select_filter_duracion" class="mr-3 d-none">Filtrar por</label>
            <select class="form-control mr-3 w-25 select-filters" id="select_filter_duracion" name="select_filter_duracion">
                <option value="">Duración</option>
                {% set durations = getDuration() %}
                {% if(durations|length > 0) %}
                    {% for duration in durations %}
                        <option value="{{ duration }}" {% if duration == filter_vars.duration %}selected{% endif %}>{{ duration }}</option>
                    {% endfor %}
                {% endif %}
            </select>

            {% if withParams|length > 0 %}
                <input type="hidden" name="destination_url" value="{{ path(currentPath, {slug: withParams.slug}) }}">
            {% else %}
                <input type="hidden" name="destination_url" value="{{ path(currentPath) }}">
            {% endif %}
        </div>
    </div>
</div>