<div class="row mb-5">
    <div class="col-12 mb-3">
        <h3>{{ title }}</h3>
    </div>
    {% if(tuppers|length > 0) %}
        <div class="col-12">
            <div class="card-deck">
                {% for tupper in tuppers %}
                    {{ include('modules/main_modules/recipe_box.twig', {
                        'tupper': tupper
                    }) }}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 text-center mt-4">
            <a href="{{ btn_url }}" title="{{ btn_label }}"><button type="button" class="btn btn-outline-primary">{{ btn_label }}</button></a>
        </div>
    {% else %}
    <div class="col-12">
        <div class="font-italic green">
            <p>No se han encontrado resultados.</p>
        </div>
    </div>
    {% endif %}
</div>