<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mb-5">
        {%if thisPage > 1 %}
            {% if withParams|length > 0 %}
                <li class="page-item"><a class="page-link" href="{{ path(currentPath, {slug: withParams.slug, currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">Anterior</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ path(currentPath, {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">Anterior</a></li>
            {% endif %}
        {% endif %}

        {# Render each page number #}
        {% for i in 1..maxPages %}
            {% if withParams|length > 0 %}
                <li class="page-item {% if i == thisPage %}active{% endif %}"><a class="page-link" href="{{ path(currentPath, {slug: withParams.slug, currentPage: i}) }}">{{ i }}</a></li>
            {% else %}
                <li class="page-item {% if i == thisPage %}active{% endif %}"><a class="page-link" href="{{ path(currentPath, {currentPage: i}) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {%if thisPage < maxPages %}
            {% if withParams|length > 0 %}
                <li class="page-item"><a class="page-link" href="{{ path(currentPath, {slug: withParams.slug, currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">Siguiente</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ path(currentPath, {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">Siguiente</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>