<div class="card">
    {% if tupper.image matches '/^http*/' %}
        <a href="{{ tupper.getUrl }}"><img class="card-img-top" src="{{ tupper.image }}" alt="{{ tupper.title }}"></a>
    {% else %}
        <a href="{{ tupper.getUrl }}"><img class="card-img-top" src="{{ asset('uploads/tuppers/' ~ tupper.image) }}" alt="{{ tupper.title }}"></a>
    {% endif %}

    <div class="card-text">
        <div class="text-center mt-2">
            <a href="{{ path('tuppers_category_list', {slug: tupper.getCategory.getSlug}) }}" title="Categoría {{ tupper.getCategory.getName }}">
                <button type="button" class="btn btn-category text-white">{{ tupper.getCategory.getName }}</button>
            </a>
        </div>
    </div>
    <div class="card-body {% if(editable is not defined) %}general{% endif %}">
        <a href="{{ tupper.getUrl }}" class="text-decoration-none black"><h5 class="card-title x18">{{ tupper.title }}</h5></a>
    </div>
    <div class="card-footer {% if(editable is not defined) %}general{% endif %}">
        <div class="row">
            <div class="col-4 views">
                <span>{{ tupper.visits }} <i class="fa fa-eye"></i></span>
            </div>
            <div class="col-8 rating text-right" data-tupperid="{{ tupper.id }}">
                {% set rate = tupper.totalRate %}
                <span class="fa fa-star {% if(rate >= 1) %}checked{% endif %}" data-rate="1"></span>
                <span class="fa fa-star {% if(rate >= 2) %}checked{% endif %}" data-rate="2"></span>
                <span class="fa fa-star {% if(rate >= 3) %}checked{% endif %}" data-rate="3"></span>
                <span class="fa fa-star {% if(rate >= 4) %}checked{% endif %}" data-rate="4"></span>
                <span class="fa fa-star {% if(rate >= 5) %}checked{% endif %}" data-rate="5"></span>
            </div>
        </div>
    </div>
    {% if(editable is defined) %}
        <div class="m-2">
            <div class="row">
                <div class="col-6">
                    <a href="{{ path('tupper_edit', {tupperid: tupper.id}) }}" title="Editar" class="green text-decoration-none x14">
                        <i class="material-icons">edit</i> Editar
                    </a>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-tupper" data-tupperid="{{ tupper.id }}">
                        <i class="material-icons">delete_forever</i> Eliminar
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>