{% if withParams is not defined %}
    {% set withParams = [] %}
{% endif %}
{% set currentPath = app.request.attributes.get('_route') %}

{% extends 'global/base_global.twig' %}
{% block page_title %}Administrar tuppers{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block sub_menu %}
    <!-- SUB MENU-->
    {{ include('admin/sub_menu.twig') }}
{% endblock %}

{% block page_content %}

    <main>
        <div class="container">
            <div class="row mb-5">

                <div class="col-12 mb-3">
                    <h3>Tuppers</h3>
                </div>

                {{ include('modules/main_modules/filters.twig', {'filter_vars': filter_vars, 'page_type': page_type, 'text_search': 'Buscar por título'}) }}

                <div class="col-12 mb-3">
                    <div class="alert alert-danger x14" style="display:none;" role="alert">
                        <a class="close pointer">×</a>
                        <div class="form-error red">
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td class="bold">ID</td>
                            <td class="bold">Título</td>
                            <td class="bold">Categoría</td>
                            <td class="bold">Estado</td>
                            <td class="bold">Fecha creación</td>
                            <td class="bold text-center" colspan="3">Acciones</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data|length > 0 %}
                            {% for item in data %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>
                                        <a href="{{ item.getUrl }}" title="{{ item.slug }}" target="_blank">
                                            {{ item.title }}
                                        </a>
                                    </td>
                                    <td>{{ item.category.name }}</td>
                                    <td>
                                        {% if item.published == true %}
                                            <i class="material-icons">check_circle</i> Publicado
                                        {% else %}
                                            <i class="material-icons">block</i> Despublicado
                                        {% endif %}
                                    </td>
                                    <td>{{ item.creationDate | date('d/m/Y H:i:s') }}</td>
                                    <td class="text-right" width="10%">
                                        <a href="{{ path('admin_tuppers_edit', {tupperid:item.id}) }}" title="Editar" class="green text-decoration-none x14 btn-loader">
                                            <i class="material-icons">edit</i> Editar
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {% if item.published == true %}
                                            <a href="javascript:void(0)" title="Despublicar" class="text-decoration-none x14 publish-tupper" data-tupperid="{{ item.id }}" data-published="0">
                                                <i class="material-icons">block</i> Despublicar
                                            </a>
                                        {% else %}
                                            <a href="javascript:void(0)" title="Publicar" class="text-decoration-none x14 publish-tupper" data-tupperid="{{ item.id }}" data-published="1">
                                                <i class="material-icons">check_circle</i> Publicar
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-tupper" data-tupperid="{{ item.id }}">
                                            <i class="material-icons">delete_forever</i> Eliminar
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No se han encontrado resultados.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="hidden" name="destination_url" value="{{ path(currentPath) }}">

            {% if maxPages > 1 %}
                {{ include('modules/main_modules/paginator.twig', {
                    'thisPage': thisPage,
                    'maxPages': maxPages,
                    'currentPath': currentPath,
                    'withParams': withParams
                }) }}
            {% endif %}

        </div>
    </main>

    {{ include('modules/modals/modal-confirm-delete.twig') }}
{% endblock %}
