{% extends 'global/base_global.twig' %}
{% block page_title %}Registro{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>

        <div class="container">
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <div class="col-12 mb-3">
                        <h3>Regístrate</h3>
                    </div>
                    <div class="col-12 ml-2 form-login">
                        {% block fos_user_content %}
                        {% include "@FOSUser/Registration/register_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center vmid">
                    <h3 class="mt-5 mb-3">¿Ya tienes cuenta?</h3>
                    <p class="lead">¡Inicia sesión y empieza a cocinar!</p>
                    <a href="{{ path('fos_user_security_login') }}" title="Inicia sesión"><button type="button" class="btn btn-primary btn-loader">Iniciar sesión</button></a>
                </div>
            </div>



        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}