{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register useFormLoader'}}) }}

    {% if (form_errors(form)|length > 0) %}
    <div class="alert alert-danger x14" role="alert">
        <a class="close pointer">×</a>
        <div class="form-error red">
            {#    {{ form_errors(form) }}#}
            {{ form_errors(form.name) }}
            {{ form_errors(form.surname) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.surname) }}
        {{ form_widget(form.surname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>

    <div class="text-right mt-3">
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </div>
{{ form_end(form) }}
