{% extends 'global/base_global.twig' %}
{% block page_title %}Editar usuario{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block sub_menu %}
    <!-- SUB MENU-->
    {{ include('admin/sub_menu.twig') }}
{% endblock %}

{% block page_content %}

    <main>
        <div class="container">
            <div class="row mb-5">

                <div class="col-12 col-sm-6 mb-3">
                    <h3>Editar usuario</h3>
                </div>

                <div class="col-12 mb-3">
                    {{ form_start(form, { 'attr': { 'class': 'useFormLoader' } }) }}

                    <div class="alert alert-danger x14" {% if (form_errors(form)|length == 0)  %}style="display:none;"{% endif %} role="alert">
                        <a class="close pointer">×</a>
                        <div class="form-error red">
                            {{ form_errors(form) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form_label(form.surname) }}
                            {{ form_widget(form.surname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <a href="{{ path('admin_users') }}" title="Volver"><button type="button" class="btn btn-outline-primary mr-3 btn-loader">Volver</button></a>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
