{% if withParams is not defined %}
    {% set withParams = [] %}
{% endif %}
{% set currentPath = app.request.attributes.get('_route') %}

{% extends 'global/base_global.twig' %}
{% block page_title %}Administrar usuarios{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block sub_menu %}
    <!-- SUB MENU-->
    {{ include('admin/sub_menu.twig') }}
{% endblock %}

{% block page_content %}

    <main>
        <div class="container">
            <div class="row mb-5">

                <div class="col-12 mb-3">
                    <h3>Usuarios</h3>
                </div>

                <div class="col-12 mb-3">
                    <div class="form-group form-inline filter-search">
                        <label for="input-search" class="mr-3">Buscar por email</label>
                        <input type="text" class="form-control mr-2" id="input-search" name="input-search" placeholder="email" value="{{ filter_vars.search }}">
                        <a href="javascript:void(0)" class="text-decoration-none green admin_search" id="admin_search" title="Buscar"><i class="material-icons">search</i></a>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="alert alert-danger x14" style="display:none;" role="alert">
                        <a class="close pointer">×</a>
                        <div class="form-error red">
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td class="bold">ID</td>
                            <td class="bold">Nombre y apellido</td>
                            <td class="bold">Email</td>
                            <td class="bold">Estado</td>
                            {#<td class="bold">Fecha registro</td>#}
                            {#<td class="bold">Último login</td>#}
                            <td class="bold text-center" colspan="3">Acciones</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data|length > 0 %}
                            {% for item in data %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }} {{ item.surname }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>
                                        {% if item.enabled == true and item.banned == false %}
                                            <i class="material-icons">check_circle</i> Activo
                                        {% elseif item.enabled == false and item.banned == false %}
                                            <i class="material-icons">access_time</i> Pendiente
                                        {% else %}
                                            <i class="material-icons">block</i> Bloqueado
                                        {% endif %}
                                    </td>
                                    {#<td>{{ item.registerDate | date('d/m/Y H:i:s') }}</td>#}
                                    {#<td>{{ item.lastLogin | date('d/m/Y H:i:s') }}</td>#}
                                    <td class="text-right" width="10%">
                                        <a href="{{ path('admin_users_edit', {userid:item.id}) }}" title="Editar" class="green text-decoration-none x14 btn-loader">
                                            <i class="material-icons">edit</i> Editar
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {% if item.banned == false %}
                                            <a href="javascript:void(0)" title="Bloquear" class="text-decoration-none x14 block-user" data-userid="{{ item.id }}" data-banned="1">
                                                <i class="material-icons">block</i> Bloquear
                                            </a>
                                        {% else %}
                                            <a href="javascript:void(0)" title="Desbloquear" class="text-decoration-none x14 block-user" data-userid="{{ item.id }}" data-banned="0">
                                                <i class="material-icons">check_circle</i> Desbloquear
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-item" data-itemid="{{ item.id }}" data-type="user">
                                            <i class="material-icons">delete_forever</i> Eliminar
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No se han encontrado resultados.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="hidden" name="destination_url" value="{{ path(currentPath) }}">

            {% if maxPages > 1 %}
                {{ include('modules/main_modules/paginator.twig', {
                    'thisPage': thisPage,
                    'maxPages': maxPages,
                    'currentPath': currentPath,
                    'withParams': withParams
                }) }}
            {% endif %}

        </div>
    </main>


    {{ include('modules/modals/modal-confirm-item-delete.twig', {data: {
        'title' : 'Eliminar usuario',
        'text' : '¿Seguro que quieres eliminar este usuario y todos sus tuppers y puntuaciones?',
    }}) }}
{% endblock %}
