{% extends 'global/base_global.twig' %}
{% block page_title %}{% if(edit_form is defined) %}Editar tupper{% else %}Crear nuevo tupper{% endif %}{% endblock %}
{% block page_stylesheets %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet">
    <link href="//cdn.rawgit.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 mb-3">
                    {% if(edit_form is defined) %}
                        <h3>Editando el tupper: <span class="green bold">{{ form.vars.value.title }}</span></h3>
                    {% else %}
                        <h3>Crear nuevo tupper</h3>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    {#{{ form_start(form, { 'attr': { 'class': 'form_createtupper useFormLoader_', 'novalidate': 'novalidate' } }) }}#}
                    {{ form_start(form, { 'attr': { 'class': 'form_createtupper' } }) }}
                        {{ form_widget(form._token) }}

                        <div class="alert alert-danger x14" {% if (form_errors(form)|length == 0)
                            and '' == form_errors(form.title)
                            and '' == form_errors(form.category)
                            and '' == form_errors(form.difficulty)
                            and '' == form_errors(form.duration)
                            and '' == form_errors(form.steps)
                            and '' == form_errors(form.commensals)
                            and '' == form_errors(form.image)  %}style="display:none;"{% endif %} role="alert">
                            <a class="close pointer">×</a>
                            <div class="form-error red">
                                {{ form_errors(form) }}
                                {{ form_errors(form.title) }}
                                {{ form_errors(form.category) }}
                                {{ form_errors(form.difficulty) }}
                                {{ form_errors(form.duration) }}
                                {{ form_errors(form.commensals) }}
                                {{ form_errors(form.steps) }}
                                {{ form_errors(form.image) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form_label(form.category) }}
                                {{ form_widget(form.category) }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form_label(form.difficulty) }}
                                {{ form_widget(form.difficulty) }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form_label(form.duration) }}
                                {{ form_widget(form.duration) }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="ingredient">Ingredientes</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control w-auto mr-3" id="quantity" name="quantity" placeholder="Cantidad (Ej. 30 g)">
                                    <input type="text" class="form-control w-auto mr-3" id="ingredient" name="ingredient" placeholder="Ingrediente (Ej. azúcar)">
                                    <button type="button" class="btn btn-outline-primary add-ingredient mt-2 mt-md-0">Añadir</button>
                                </div>
                                <div class="col-12 mt-3 pd0 box-ingredient">
                                    {% if(form.vars.value.getIngredients.getValues|length > 0) %}
                                        {% for ingredient in form.vars.value.getIngredients.getValues %}
                                            <span class="badge badge-pill badge-secondary align-middle x12 mr-1 mb-1 ingredient">
                                                {{ ingredient.quantity }} {{ ingredient.getIngredient().name }} <a href="javascript:void(0)" data-ingredientId="{{ loop.index0 }}" class="text-white delete-ingredient" title="Eliminar ingrediente"><i class="material-icons x12">close</i></a>
                                            </span>
                                            <input type="hidden" name="tupper[ingredients][{{ loop.index0 }}][ingredient]" id="tupper_ingredients_{{ loop.index0 }}_ingredient" value="{{ ingredient.getIngredient().id }}" >
                                            <input type="hidden" name="tupper[ingredients][{{ loop.index0 }}][quantity]" id="tupper_ingredients_{{ loop.index0 }}_quantity" value="{{ ingredient.quantity }}" >
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                {{ form_label(form.commensals) }}
                                {{ form_widget(form.commensals) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.steps) }}
                            {{ form_widget(form.steps) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.image) }}
                            {{ form_widget(form.image) }}
                            {% if(old_image is defined and old_image is not null) %}
                                <div class="col-6 mt-3">
                                    <img src="/uploads/tuppers/{{ old_image }}" >
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="tag">Etiquetas</label>
                            <div class="form-inline">
                                <input type="text" class="form-control w-auto mr-3" id="tag" name="tag" placeholder="Etiqueta">
                                <button type="button" class="btn btn-outline-primary add-tag">Añadir</button>
                            </div>
                            <div class="col-12 mt-3 pd0 box-tag">
                                {% if(form.vars.value.getTags.getValues|length > 0) %}
                                    {% for tagId,tag in form.vars.value.getTags.getValues %}
                                        <span class="badge badge-pill badge-secondary align-middle x12 mr-1 mb-1 tag">
                                            {{ tag.slug }} <a href="javascript:void(0)" data-tagId="{{ tagId }}" class="text-white delete-tag" title="Eliminar etiqueta"><i class="material-icons x12">close</i></a>
                                        </span>
                                        <input type="hidden" name="tupper[tags][][slug]" id="tupper_tag_{{ tagId }}" value="{{ tag.slug }}" >
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if(edit_form is defined) %}
                            <div class="text-center mt-4">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_tuppers') }}" title="Volver a Mis tuppers"><button type="button" class="btn btn-outline-primary mr-3">Volver</button></a>
                                {% else %}
                                    <a href="{{ path('account_mytuppers') }}" title="Volver a Mis tuppers"><button type="button" class="btn btn-outline-primary mr-3">Volver</button></a>
                                {% endif %}
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        {% else %}
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Crear tupper</button>
                            </div>
                        {% endif %}


                        <a href="{{ path('autocomplete_search_ingredient') }}" id="url-list" class="hidden"></a>
                        <a href="{{ path('autocomplete_get_ingredient') }}" id ="url-get" class="hidden"></a>
                    {% if(edit_form is defined) %}
                        <input type="hidden" id="is_edit" name="is_edit" value="1" />
                    {% endif %}

                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>

        </div>
    </main>
{% endblock %}
{% block page_scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
    <script src="{{ asset('js/pugxautocompleter/autocompleter-select2.js') }}"></script>
    <script src="/js/form-validate.js?{{ assets_version }}" type="text/javascript"></script>
{% endblock %}