{% set shareUrl = app.request.getSchemeAndHttpHost()~tupper.getUrl %}
{% set shareImage = app.request.getSchemeAndHttpHost()~asset('uploads/tuppers/' ~ tupper.image) %}

{% extends 'global/base_global.twig' %}
{% block page_title %}{{ tupper.title }}{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block twitter_metas %}
    <meta name="twitter:card" content="summary" />
    {#    <meta name="twitter:site" content="@dailytuppers" />#}
    {#    <meta name="twitter:creator" content="@dailytuppers" />#}
{% endblock %}
{% block facebook_metas %}
    <meta property="og:url"                content="{{ shareUrl }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ tupper.title }}" />
    <meta property="og:description"        content="{{ cutText(tupper.steps, 200) }}" />
    <meta property="og:image"     itemprop="image"         content="{{ shareImage }}" />
    <meta property="og:type"               content="website" />
{% endblock %}

{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-3">
                {% if(showEdit == true) %}
                    <div class="col-12 col-sm-8">
                        <h3>{{ tupper.title }}</h3>
                    </div>
                    <div class="col-12 col-sm-4 text-left text-sm-right">
                        <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-tupper" data-tupperid="{{ tupper.id }}" data-isdetail="true">
                            <button type="button" class="btn btn-outline-primary-red mr-3 mb-2 mb-sm-2 pb-1"><i class="material-icons">delete_forever</i> Eliminar</button>
                        </a>
                        <a href="{{ path('tupper_edit', {tupperid: tupper.id}) }}" title="Editar tupper">
                            <button type="button" class="btn btn-outline-primary mb-2 mb-sm-2 pb-1 btn-loader"><i class="material-icons">edit</i> Editar tupper</button>
                        </a>
                    </div>
                {% else %}
                    <div class="col-8">
                        <h3>{{ tupper.title }}</h3>
                    </div>
                    <div class="col-4 text-right views">
                        <span>{{ tupper.visits }} <i class="fa fa-eye"></i></span>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Slider -->
        <div id="carouselExampleControls" class="slide mb-3">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {#<img class="d-block w-100 " src="/img/slider/slider1.jpg" alt="First slide">#}
                    {% if tupper.image matches '/^http*/' %}
                        <img class="d-block w-100 " src="{{ tupper.image }}" alt="{{ tupper.title }}">
                    {% else %}
                        <img class="d-block w-100 " src="{{ asset('uploads/tuppers/' ~ tupper.image) }}" alt="{{ tupper.title }}">
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /// Slider -->

        <div class="container">
            <div class="row mb-3">
                <div class="col-12 col-lg-4 bg-light p-4">
                    <p class="ml-1">Receta para <span class="green bold">{{ tupper.commensals }} personas</span></p>

                    <h3>Ingredientes</h3>
                    <ul class="ingredients-list">
                        {% for ingredient in tupper.ingredients %}
                            {% set union = (ingredient.quantity|length > 1) ? ' de ' : ' ' %}
                            <li>{{ ingredient.quantity }}{{ union }}{{ ingredient.ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 col-lg-8 p-4">
                    <div class="row mb-3">
                        <div class="col-12 col-md-4">Creado el <span class="green bold">{{ tupper.creationDate | date('d/m/Y') }}</span></div>
                        <div class="col-12 col-md-4 text-left text-md-right">Duración: <span class="green bold">{{ tupper.duration }}</span></div>
                        <div class="col-12 col-md-4 text-left text-md-right">Dificultad: <span class="green bold">{{ tupper.getDifficultyDescrition }}</span></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3>Pasos a seguir:</h3>
                        </div>
                        <div class="col-12">
                            {{ tupper.steps | raw | nl2br }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-xl-8 pt-3">
                            Categoría
                            <a href="{{ path('tuppers_category_list', {slug: tupper.getCategory.getSlug}) }}" title="Categoría {{ tupper.getCategory.getName }}">
                                <button type="button" class="btn btn-category text-white">{{ tupper.category.name }}</button>
                            </a>
                        </div>
                        <div class="col-12 col-xl-4 pt-3">
                            Creado por <span class="green bold">{{ tupper.user.name }} {{ tupper.user.surname }}</span>
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-12 col-xl-4 pt-3">
                            <span class="bold mr-2 ">Etiquetas</span>
                            {% for tag in tupper.tags %}
                                <span class="badge badge-pill badge-secondary align-middle x12 mr-1 mb-1 tag">
                                    <a href="{{ path('tuppers_tag_list', {slug: tag.slug}) }}" class="text-white" title="{{ tag.slug }}">{{ tag.slug }}</a>
                                </span>

                            {% endfor %}
                        </div>
                        <div class="col-12 col-xl-4 rating pt-1 trigger_rate" data-tupperid="{{ tupper.id }}">
                            <span class="bold">Valorar</span>
                            <span class="fa fa-star {% if(rate >= 1) %}checked{% endif %}" data-rate="1"></span>
                            <span class="fa fa-star {% if(rate >= 2) %}checked{% endif %}" data-rate="2"></span>
                            <span class="fa fa-star {% if(rate >= 3) %}checked{% endif %}" data-rate="3"></span>
                            <span class="fa fa-star {% if(rate >= 4) %}checked{% endif %}" data-rate="4"></span>
                            <span class="fa fa-star {% if(rate >= 5) %}checked{% endif %}" data-rate="5"></span>
                        </div>
                        <div class="col-12 col-xl-4 pt-2">
                            <span class="bold mr-2">Compartir</span>
                            <a class="share" href="{{ socialFB(shareUrl) }}" target="_blank" title="Compartir en Facebook"><i class="fa fa-facebook"></i></a>
                            <a class="share" href="{{ socialTW(shareUrl, tupper.title) }}" target="_blank" title="Compartir en Twitter"><i class="fa fa-twitter"></i></a>
                            {% if isMobile() %}
                                <a class="share" href="{{ socialWhatsapp(shareUrl, tupper.title) }}" title="Compartir por WhatsApp"><i class="fa fa-whatsapp"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{ include('modules/modals/modal-confirm-delete.twig') }}
{% endblock %}
{% block page_scripts %}

{% endblock %}