{% extends 'global/base_global.twig' %}
{% block page_title %}Administrar{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block sub_menu %}
    <!-- SUB MENU-->
    {{ include('admin/sub_menu.twig') }}
{% endblock %}

{% block page_content %}
<main>
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 mb-3">
                <h3>Resumen</h3>
            </div>

            {% if users is defined and users|length > 0 %}
            <div class="col-12 mb-3">
                <h5>Usuarios</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td class="bold">Estado</td>
                            <td class="bold text-center" width="30%">nº de usuarios</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% if users.active is defined %}
                        <tr>
                            <td>{{ users.active.title }}</td>
                            <td class="text-center">{{ users.active.value }}</td>
                        </tr>
                    {% endif %}
                    {% if users.pending is defined %}
                        <tr>
                            <td>{{ users.pending.title }}</td>
                            <td class="text-center">{{ users.pending.value }}</td>
                        </tr>
                    {% endif %}
                    {% if users.banned is defined %}
                        <tr>
                            <td>{{ users.banned.title }}</td>
                            <td class="text-center">{{ users.banned.value }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                    <tfoot>
                    {% if users.total is defined %}
                        <tr>
                            <td class="bold">{{ users.total.title }}</td>
                            <td class="bold text-center">{{ users.total.value }}</td>
                        </tr>
                    {% endif %}
                    </tfoot>
                </table>
            </div>
            {% endif %}

            {% if tuppers is defined and tuppers|length > 0 %}
            <div class="col-12 mb-3">
                <h5>Tuppers</h5>
                <table class="table table-striped">
                    <tbody>
                    {% if tuppers.published is defined %}
                        <tr>
                            <td>{{ tuppers.published.title }}</td>
                            <td class="text-center">{{ tuppers.published.value }}</td>
                        </tr>
                    {% endif %}
                    {% if tuppers.unpublished is defined %}
                        <tr>
                            <td>{{ tuppers.unpublished.title }}</td>
                            <td class="text-center">{{ tuppers.unpublished.value }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                    <tfoot>
                    {% if tuppers.total is defined %}
                        <tr>
                            <td class="bold">{{ tuppers.total.title }}</td>
                            <td class="bold text-center">{{ tuppers.total.value }}</td>
                        </tr>
                    {% endif %}
                    </tfoot>
                </table>
            </div>
            {% endif %}

            {% if categories is defined and categories|length > 0 %}
            <div class="col-12 mb-3">
                <h5>Categorías</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td class="bold">Categoría</td>
                            <td class="bold text-center" width="30%">nº de tuppers</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td>{{ cat.name }}</td>
                            <td class="text-center">{% if cat.total is null %}0{% else %}{{ cat.total }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>
    </div>
</main>

    {{ include('modules/modals/modal-confirm-delete.twig') }}
{% endblock %}
{% block page_scripts %}

{% endblock %}