{% set currentPath = app.request.get('_route') %}
<div class="container ">
	<div class="row px-3 py-4">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">
				<a class="nav-link {% if(currentPath == 'admin') %}active{% endif %}" href="{{ path('admin') }}"><i class="material-icons">
						show_chart
					</i> Resumen</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if(currentPath == 'admin_tuppers') %}active{% endif %}" href="{{ path('admin_tuppers') }}"><i class="material-icons">
						restaurant
					</i> Tuppers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if(currentPath == 'admin_categories') %}active{% endif %}" href="{{ path('admin_categories') }}"><i class="material-icons">
						view_module
					</i> Categorías</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if(currentPath == 'admin_ingredients') %}active{% endif %}" href="{{ path('admin_ingredients') }}"><i class="material-icons">
						kitchen
					</i> Ingredientes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if(currentPath == 'admin_users') %}active{% endif %}" href="{{ path('admin_users') }}"><i class="material-icons">
						account_circle
					</i> Usuarios</a>
			</li>
		</ul>
	</div>
</div>