[{% for ingredient in results -%}
{#    {{ {id: ingredient.id, text: ingredient.name~' ('~ingredient.group.name~')'}|json_encode|raw }}#}
    {{ {id: ingredient.id, text: ingredient.name}|json_encode|raw }}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}]

