{% if withParams is not defined %}
    {% set withParams = [] %}
    {% set currentPath = app.request.attributes.get('_route') %}
{% endif %}

{% extends 'global/base_global.twig' %}
{% block page_title %}Búsqueda por ingredientes{% endblock %}
{% block page_stylesheets %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet">
    <link href="//cdn.rawgit.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 mb-3">
                    <h3>Búsqueda por ingredientes</h3>
                </div>
            </div>

            <div class="row mb-3 ml-1 mr-1 bg-light">
                <div class="col-12 p-2 p-sm-4">
                    <label for="ingrediente">Ingredientes</label>
                    <div class="form-inline">
                        <input type="text" class="form-control w-auto mr-3" id="ingredient" name="ingredient" placeholder="Ingrediente (Ej. azúcar)">
                        <button type="button" class="btn btn-outline-primary add-search-ingredient">Añadir</button>
                    </div>
                    <div class="col-12 mt-3 pd0 box-ingredient">
                        {% if filter_vars.ingredients|length > 0 %}
                            {% for ingredient in filter_vars.ingredients %}
                                <span class="badge badge-pill badge-secondary align-middle x12 mr-1 mb-1 ingredient">
                                    {{ ingredient.name }} <a href="javascript:void(0)" class="text-white delete-search-ingredient" data-ingredientId="{{ ingredient.id }}" title="Eliminar ingrediente"><i class="material-icons x12">close</i></a>
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary do-search-by-ingredient">Buscar</button>
                    </div>
                </div>
            </div>

            {{ include('modules/main_modules/filters.twig', {'filter_vars': filter_vars, 'page_type': page_type}) }}

            <div class="row">
                <div class="col-12">
                    {% if tuppers|length > 0 %}
                        <div class="card-deck mb-3">
                            {% for tupper in tuppers %}
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 pd0">
                                    {{ include('modules/main_modules/recipe_box.twig', {
                                        'tupper': tupper
                                    }) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="font-italic green mt-3 mb-5">
                            <p>No se han encontrado resultados.</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if maxPages > 1 %}
                {{ include('modules/main_modules/paginator.twig', {
                    'thisPage': thisPage,
                    'maxPages': maxPages,
                    'currentPath': currentPath,
                    'withParams': withParams
                }) }}
            {% endif %}

            <a href="{{ path('autocomplete_search_ingredient') }}" id="url-list" class="hidden"></a>
            <a href="{{ path('autocomplete_get_ingredient') }}" id ="url-get" class="hidden"></a>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
    <script src="{{ asset('js/pugxautocompleter/autocompleter-select2.js') }}"></script>
{% endblock %}