{% if withParams is not defined %}
    {% set withParams = [] %}
{% endif %}
{% set currentPath = app.request.attributes.get('_route') %}

{% extends 'global/base_global.twig' %}
{% block page_title %}Administrar categorías{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block sub_menu %}
    <!-- SUB MENU-->
    {{ include('admin/sub_menu.twig') }}
{% endblock %}

{% block page_content %}

<main>
    <div class="container">
        <div class="row mb-5">

            <div class="col-12 col-sm-6 mb-3">
                <h3>Categorías</h3>
            </div>
            <div class="col-12 col-sm-6 mb-3 text-left text-sm-right">
                <a href="{{ path('admin_categories_create') }}" title="Añadir categoría">
                    <button type="button" class="btn btn-outline-primary btn-loader"><i class="material-icons mr-3">add_circle_outline</i>Añadir categoría</button>
                </a>
            </div>

            <div class="col-12 mb-3">
                <div class="alert alert-danger x14" style="display:none;" role="alert">
                    <a class="close pointer">×</a>
                    <div class="form-error red">
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td class="bold">ID</td>
                            <td class="bold">Slug</td>
                            <td class="bold">Nombre</td>
                            <td class="bold text-center" colspan="2">Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>
                                {{ item.slug }}
                            </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="text-right" width="10%">
                                <a href="{{ path('admin_categories_edit', {categoryid:item.id}) }}" title="Editar" class="green text-decoration-none x14 btn-loader">
                                    <i class="material-icons">edit</i> Editar
                                </a>
                            </td>
                            <td class="text-right" width="10%">
                                <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-item" data-itemid="{{ item.id }}" data-type="category">
                                    <i class="material-icons">delete_forever</i> Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if maxPages > 1 %}
            {{ include('modules/main_modules/paginator.twig', {
                'thisPage': thisPage,
                'maxPages': maxPages,
                'currentPath': currentPath,
                'withParams': withParams
            }) }}
        {% endif %}

    </div>
</main>


    {{ include('modules/modals/modal-confirm-item-delete.twig', {data: {
        'title' : 'Eliminar categoría',
        'text' : '¿Seguro que quieres eliminar esta categoría?',
    }}) }}
{% endblock %}
{% block page_scripts %}

{% endblock %}