<footer id="myFooter" class="footer custom-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3">
				<h2 class="logo"><a href="{{ path('index') }}" title="Daily Tuppers - Inicio"> <img src="/img/logo_header.png"> </a></h2>
			</div>
			<div class="col-md-6 d-none d-md-block">
				<h5>Categorías más populares</h5>
				<div class="col-12">
					<div class="row">
						{% for cat in topCategories() %}
							{% if (loop.index0%2 == 0) %}
								<div class="col-4">
									<ul>
							{% endif %}

							<li><a href="{{ path('tuppers_category_list', {slug: cat.slug}) }}">{{ cat.name }}</a></li>

							{% if (loop.index0%2 != 0) or loop.last %}
								</ul>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-3 text-md-center">
				<div class="social-networks">
					<a href="{{ socialFB(shareUrl) }}" target="_blank" title="Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="{{ socialTW(shareUrl, 'Daily Tuppers') }}" target="_blank" title="Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<p>© 2019 Copyright by Daily Tuppers</p>
	</div>
</footer>