{% set currentPath = app.request.get('_route') %}
{% set logged = false %}
<div class="container mb-3">
    <header>
        <div class="row mt-2 mb-2">
            <div class="col-4 col-sm-4 col-md-4 text-center text-sm-left mb-3">
                <a href="{{ path('index') }}" title="Daily Tuppers - Inicio"><img src="/img/logo_header.png" alt="Logo header Daily Tuppers" ></a>
            </div>
            <div class="col-8 col-sm-8 col-md-8 mb-2 mt-4 mt-sm-0">
                <div class="row">
                    <div class="col-8 col-sm-8 col-md-3 col-lg-5 col-xl-7 text-right mb-2 d-none d-sm-block">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}" title="Administrar"><button type="button" class="btn btn-primary mr-sm-4 mb-1 mb-sm-0 btn-loader">Administrar</button></a>
                        {% else %}
                            <a href="{{ socialFB(shareUrl) }}" target="_blank" title="Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="{{ socialTW(shareUrl, 'Daily Tuppers') }}" target="_blank" title="Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-5 text-right text-sm-center text-md-right">
                            <a href="{{ path('fos_user_security_logout') }}" title="Cerrar sesión"><button type="button" class="btn btn-outline-primary mr-sm-4 mb-1 mb-sm-0 btn-loader">Cerrar sesión</button></a>
                            <button type="button" class="btn btn-primary mb-1 mb-sm-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mi cuenta
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item btn-loader {% if(currentPath == 'account') %}active{% endif %}" href="{{ path('account') }}">Perfil</a>
                                <a class="dropdown-item btn-loader {% if(currentPath == 'account_mytuppers') %}active{% endif %}" href="{{ path('account_mytuppers') }}">Mis tuppers</a>
                                <a class="dropdown-item btn-loader {% if( currentPath == 'tupper_create') %}active{% endif %}" href="{{ path('tupper_create') }}">Crear tupper</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-5 text-right text-sm-center text-md-right">
                            <a href="{{ path('fos_user_security_login') }}" title="Iniciar sesión"><button type="button" class="btn btn-outline-primary mr-sm-4 mb-1 mb-sm-0 btn-loader">Iniciar sesión</button></a>
                            <a href="{{ path('fos_user_registration_register') }}" title="Registrarme"><button type="button" class="btn btn-primary mb-1 mb-sm-0 btn-loader">Registrarme</button></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-light bg-white static-top p-md-0">
            <div class="container p-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if(currentPath == 'index') %}active{% endif %}">
                            <a class="nav-link btn-loader" href="{{ path('index') }}">Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ml-3 {% if(currentPath == 'tuppers_list') %}active{% endif %}">
                            <a class="nav-link btn-loader" href="{{ path('tuppers_list') }}">Explorar Tuppers</a>
                        </li>
                        <li class="nav-item ml-3 {% if(currentPath == 'ingredient_search') %}active{% endif %}">
                            <a class="nav-link btn-loader" href="{{ path('ingredient_search') }}">Búsqueda por ingredientes</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <!-- /// Navigation -->

    </header>
</div>