*{
  font-family: 'Roboto', sans-serif;
}

.carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(50, 68, 54, 0.6);
  text-align: center;
  h5{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.08em;
  }
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

/* xs */
@media (min-width: 360px) {
  .carousel-item {
    height: 230px;
  }
}
/* sm */
@media (min-width: 768px) {
  .carousel-item {
    height: 450px;
  }
}


/* END SLIDER */

/* override bootstrap paginator */
.page-link{
  color: #2d9f57;
  &:hover{
    color: #2d9f57;
  }
}
.page-item.active{
  .page-link{
    background-color: #2d9f57;
    border-color: #2d9f57;
  }
}
/* END override bootstrap paginator */

.jumbotron{
  background-color: #92bd5045;
}

ul.ingredients-list{
  li{
    line-height: 30px;
  }
}