/* cards */
.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
  .card {
    display: block;
    flex-basis: 100%; /* change this value for each breakpoint*/
    margin-bottom: 10px;
    .card-img-top{
      object-fit: cover;
      min-height: 200px;
    }
  }
}

.card-body {
  padding: 0.5rem;
  &.general{
    min-height: 120px;
  }
}
.card-footer {
  padding: .2rem 1.25rem;
  &.general{
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

/* sm */
@media (min-width: 768px) {
  .card-deck .card {
    display: block;
    flex-basis: 45%; /* salto a 2 */
    margin-bottom: 10px;
  }
}
/* md */
@media (min-width: 992px) {
  .card-deck .card {
    display: block;
    flex-basis: 45%; /* salto a 2 */
  }
}
/* lg */
@media (min-width: 1200px) {
  .card-deck .card {
    display: block;
    flex-basis: 22%; /* salto a 4 */
  }
}
/* end cards */