#myFooter {
  background-color: #27a058;
  color: white;
  padding-top: 20px;
  .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }
  .row {
    margin-bottom: 10px;
  }
  .navbar-brand {
    margin-top: 45px;
    height: 65px;
  }
  .footer-copyright{
    p {
      margin: 10px;
      color: #ccc;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }
  h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
  }
  h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  a {
    color: #d2d1d1;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
      color: white;
    }
  }
  .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
    a {
      font-size: 32px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

main{
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
}

#myFooter{
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}