/* image logo header */
/* xs */
img {
  width: 150px;
  height: auto;
}
/* sm */
@media (min-width: 768px) {
  img {
    width: 100px;
  }
}
/* md */
@media (min-width: 992px) {
  img {
    width: 100px;
  }
}
/* lg */
@media (min-width: 1200px) {
  img {
    width: 100px;
  }
}
/* END image logo header*/