{% if withParams is not defined %}
    {% set withParams = [] %}
{% endif %}
{% set currentPath = app.request.attributes.get('_route') %}

{% extends 'global/base_global.twig' %}
{% block page_title %}Administrar ingredientes{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block sub_menu %}
    <!-- SUB MENU-->
    {{ include('admin/sub_menu.twig') }}
{% endblock %}

{% block page_content %}

    <main>
        <div class="container">
            <div class="row mb-5">

                <div class="col-12 col-sm-6 mb-3">
                    <h3>Ingredientes</h3>
                </div>
                <div class="col-12 col-sm-6 mb-3 text-left text-sm-right">
                    <a href="{{ path('admin_ingredients_create') }}" title="Añadir ingrediente">
                        <button type="button" class="btn btn-outline-primary btn-loader"><i class="material-icons mr-3">add_circle_outline</i>Añadir ingrediente</button>
                    </a>
                </div>

                <div class="col-12 mb-3">
                    <div class="form-group form-inline filter-search">
                        <label for="input-search" class="mr-3">Buscar por nombre</label>
                        <input type="text" class="form-control mr-2" id="input-search" name="input-search" placeholder="ingrediente" value="{{ filter_vars.search }}">
                        <a href="javascript:void(0)" class="text-decoration-none green admin_search" id="admin_search" title="Buscar"><i class="material-icons">search</i></a>
                    </div>
                    <div class="form-group row ml-0">
                        <label for="select_filter_group" class="mr-3 col-form-label">Filtrar por</label>
                        <select class="form-control mr-3 w-50 admin-filter" id="select_filter_group" name="select_filter_group" data-url="{{ path('admin_ingredients') }}">
                            <option value="">Grupos</option>
                            {% set groups = getIngredientGroups() %}
                            {% if(groups|length > 0) %}
                                {% for group in groups %}
                                    <option value="{{ group.id }}" {% if group.id == filter_vars.group %}selected{% endif %}>{{ group.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="alert alert-danger x14" style="display:none;" role="alert">
                        <a class="close pointer">×</a>
                        <div class="form-error red">
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td class="bold">ID</td>
                            <td class="bold">Nombre</td>
                            <td class="bold">Calorías</td>
                            <td class="bold text-center" colspan="2">Acciones</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data|length > 0 %}
                            {% for item in data %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.calories }}</td>
                                    <td class="text-right" width="10%">
                                        <a href="{{ path('admin_ingredients_edit', {ingredientid:item.id}) }}" title="Editar" class="green text-decoration-none x14 btn-loader">
                                            <i class="material-icons">edit</i> Editar
                                        </a>
                                    </td>
                                    <td class="text-right" width="10%">
                                        <a href="javascript:void(0)" title="Eliminar" class="red text-decoration-none x14 delete-item" data-itemid="{{ item.id }}" data-type="ingredient">
                                            <i class="material-icons">delete_forever</i> Eliminar
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No se han encontrado resultados.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="hidden" name="destination_url" value="{{ path(currentPath) }}">

            {% if maxPages > 1 %}
                {{ include('modules/main_modules/paginator.twig', {
                    'thisPage': thisPage,
                    'maxPages': maxPages,
                    'currentPath': currentPath,
                    'withParams': withParams
                }) }}
            {% endif %}

        </div>
    </main>


    {{ include('modules/modals/modal-confirm-item-delete.twig', {data: {
        'title' : 'Eliminar ingrediente',
        'text' : '¿Seguro que quieres eliminar este ingrediente?',
    }}) }}
{% endblock %}
