<!-- Modal not logged -->
<div class="modal fade" id="notLoggedModal" tabindex="-1" role="dialog" aria-labelledby="notLoggedModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">¡Oh, oh!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Para poder valorar un tupper debes haber iniciado sesión...
            </div>
            <div class="modal-footer">
                <a href="{{ path('fos_user_registration_register') }}" title="Registrarme"><button type="button" class="btn btn-outline-primary btn-loader">Registrarme</button></a>
                <a href="{{ path('fos_user_security_login') }}" title="Iniciar sesión"><button type="button" class="btn btn-primary btn-loader">Iniciar sesión</button></a>
            </div>
        </div>
    </div>
</div>