{% if withParams is not defined %}
    {% set withParams = [] %}
{% endif %}
{% set currentPath = app.request.attributes.get('_route') %}

{% extends 'global/base_global.twig' %}
{% block page_title %}{{ page_title | striptags }}{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 mb-3">
                    <h3>{{ page_title | raw }}</h3>
                </div>
            </div>

            {{ include('modules/main_modules/filters.twig', {'filter_vars': filter_vars, 'page_type': page_type}) }}

            <div class="row">
                <div class="col-12">
                    {% if tuppers|length > 0 %}
                        <div class="card-deck mb-3">
                            {% for tupper in tuppers %}
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 pd0">
                                    {{ include('modules/main_modules/recipe_box.twig', {
                                        'tupper': tupper
                                    }) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="font-italic green mt-3 mb-5">
                            <p>No se han encontrado resultados.</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if maxPages > 1 %}
                {{ include('modules/main_modules/paginator.twig', {
                    'thisPage': thisPage,
                    'maxPages': maxPages,
                    'currentPath': currentPath,
                    'withParams': withParams
                }) }}
            {% endif %}
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}