{% extends 'global/base_global.twig' %}
{% block page_title %}Página no encontrada{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h1 class="mt-5"><span class="green">Error {{ status_code }}:</span> Página no encontrada</h1>
{#                    <p class="lead">La página solicitada no existe.</p>#}
                    <p class="lead">{{ exception.message }}</p>

                    <a href="{{ path('index') }}" title="Volver a la Home"><button type="button" class="btn btn-primary">Volver a la Home</button></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}